<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <title>圖書資訊</title>
    </head>
    <body>
        <h3><%= text %> Page</h3>
    </body>
    <%- include('footer'); %>
</html>